.clock, .alarm, .alarm-2 {
  font-family: monospace;
  font-size: 40px;
}
.alarm, .alarm-2 {
  color: darkblue;
}
.alarm-alert {
  display: none;
}
.weather-app {
  margin-top: 10em;
}
.weather-conditions {
  font-size: 1.25em;
  font-weight: bolder;
}
.weather-display {
  display: none;
}
